<div id='signup'>
  <h3>Sign up for a new account</h3>
  <p>Shortly takes a long url and creates a shorter one. You can use Shortly to create a link to any site on the internet. It <em>just works</em>.</p>
  <form name="signupForm" ng-submit='signup()'>
    <input class="form-control" type='text' pattern='/[a-z0-9]/i' ng-min="4" ng-model='user.username'>
    <input class="form-control" type="password" pattern='/[a-z0-9]{2,4}/i' ng-min="4" ng-model='user.password'>
    <button class="btn btn-primary">signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
